@charset "UTF-8";
.banner img{width: 100%;height: auto;}
.main{background: url(../img/bg.png) no-repeat right;background-size: 60% 100%;margin-top: -10px;padding: 20px 0 100px 10px;}
.liaojie img{width: 35%;}
.ui-form-item {padding: 0;}
.ui-form-item input,.ui-form-item select, .ui-form-item textarea {width: 70%;-webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-appearance: none;border: 1px solid #5fc2c9;border-radius:5px;background: 0 0;padding: 0 10px;height: 30px;}
.fujia img{width: 100%;}
.fujia-neirong{width: 100%;text-indent: 2em;}
.button{width: 90%;height: 30px;background: #fff;color: #fff;position: fixed;bottom: 0;left: 0;padding: 10px 5%;}
.button-left,.button-right{width: 50%;border: 1px solid #fff;background: #5FC2C9;float: left;color: #fff;height: 30px;}
.button-left{border-radius: 5px 0 0 5px; border-right: 0;}
.button-right{border-radius: 0 5px 5px 0;}
.shipin{height: 60px;}
.xingming{float: left;width: 25%;}
.huoqu{position: absolute;top: 7px;right: 20px;background: #5FC2C9;border-radius:0 5px 5px 0;height: 30px;padding-right: 10px;width: 29.5%;
	text-align: right;color: #fff;line-height: 30px;font-size: 14px;}
.xiugai,.xiugai2{width: 40%; float: left;background: #5fc2c9;border: 0px solid #5fc2c9;outline: none; border-radius: 5px;height: 40px;
	color: #fff;}
.xiugai2{float: right;}
.zhezhao{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: #000;opacity: 0.1;}
.touxiang-R {
    width: 0.8rem;
    height: 0.8rem;
    border: 0;
    position: relative;
    margin-left: 25%;
}
.touxiang-R-B img {
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 5px;
    left: 0;
}
.uploader_input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}




