*{margin: 0; padding: 0; color: #333;}
body{font-family: 黑体; background: #fff; width: 100%; font-size: 0.7rem;}
html {font-size: 62.5%;}
a{text-decoration: underline; outline:none; color: #333;-webkit-tap-highlight-color:transparent;}
.main{width: 88%; height: auto; margin: 0.8rem auto; line-height: 1.25rem;}
.main-conten-ul{list-style: none; width: 100%;}
.main-conten-ul li{display: block; padding: 0 0 1.2rem;line-height: 1.2rem;}
.main-conten-L{ float: left;width: 12%;}
.main-conten-C{ float: left;width: 60%; margin: 0 5%;}
.main-conten-R{ float: right;font-size: 0.6rem;width: 18%;}
.main-conten-L,.main-conten-C,.main-conten-R{overflow: hidden;
	white-space: nowrap;text-overflow: ellipsis; text-align: center;}
