button{border: none;}
.dafen{width:100%;background:#fff;margin-bottom:10px;height:64px;color: #9d9ba1;}
.dafen-L{width:50%;height:100%;float:left;border-right:1px solid #f2f2f2;
	line-height:64px;text-indent: 4.6em;background:url('../img/geren.png') no-repeat 15% center;
	} 
.dafen-R{width:49%;float:right;height:100%;line-height:64px;text-indent: 5.6em;
	background:url('../img/xingxing.jpg') no-repeat 25% center;}
.dafen-L,.dafen-R{background-size: 45px 45px;}
.zan{float: right;background: url(/view/weixin/jsbang/qiyebang/qiyejianjie/img/kongzan.png) no-repeat 5px center;margin-right: 10px;}
.zan2{float: right;background: url(/view/weixin/jsbang/qiyebang/qiyejianjie/img/shizan.png) no-repeat 5px center;margin-right: 10px;}
.huifu{float: right;background: url(/view/weixin/jsbang/qiyebang/qiyejianjie/img/xiaoxi.png) no-repeat 5px center;}
.zan,.zan2,.huifu{background-size: 16px auto;text-align: right;padding: 0 0 0 26px;}
.ui-btn, .ui-btn-lg, .ui-btn-s {background-color: #b1dae0;color: #fff;background-image:none;}
.ui-header-positive, .ui-footer-positive {color: #fff;}
.detail-header {height: auto;padding-bottom:10px;margin: 45px auto 0;}
.detail-header .ui-list-img img {width: 100px;height: 100px;border-radius: 8px;}
.fenxiang img {width: 40px;position: fixed;top: 0;right: 10px;}
.chakan{background: url(/view/weixin/jsbang/gerenbang/gerenjianjie/img/zhuanji.png) no-repeat 6px center;background-size: 30px auto;text-indent: 3em;}

.detail-text p.s{height: 50px;background: url('../img/jiantou_03.png') no-repeat 97% 92%;
  background-size:15px 10px;}
.detail-text p.k{height: auto;background: url('../img/jiantou_06.png') no-repeat 97% 99%;
  background-size:15px 10px;}
 .ui-footer-btn{background: #f2f2f2;text-align: center;color: #b1dae0;font-weight: 500;}
.ui-btn-wrap{padding: 0;margin: 8px auto;height: 40px;width: 94%;border: 1px solid #B1DAE0;
    border-radius: 5px;}
.ui-btn, .ui-btn-lg, .ui-btn-s {
    width: 50%;
    height: 40px;
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fff),to(#fafafa));
    vertical-align: top;
    color: #5fc2c9;
    -webkit-box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
   }
.ui-btn:before, .ui-btn-lg:before{border: none;}
   
.dianping-R,.dianping-R2{padding: 0 38px;height: 50px; line-height: 50px; background-size: 25px auto;}
.xiaoxi{padding: 0 38px;height: 50px; line-height: 50px; background-size: 20px auto;}
.ui-dialog-cnt{margin: 70px auto;width: 80%;}
.ui-dialog-cnt textarea{width: 94%;height: 300px;padding:5px 3%;background: #fff;border: none;outline: none;
	border-radius: 5px;}
   
.gengduo{width: 95.8%;margin: 0 auto; border:1px solid #f0f0f0; border-radius:6px; text-align:center;}
.button{width: 100%; background:#fff;border:0; outline: none; color: #5fc2c9; height:40px; line-height:40px;font-size:14px;}

.ui-nowrap {white-space: inherit;}
.comment-list-mul .comment-text {-webkit-line-clamp: inherit;}
   