@charset "UTF-8";
body{color: #fff;}
/*.bgjianbian{
	background: -ms-linear-gradient(top, #22589c,  #081652);/*IE*
	background:-moz-linear-gradient(top,#22589c,  #081652);/*火狐*
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#22589c), to(#081652));/*谷歌*
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#22589c), to(#081652));      /* Safari 4-5, Chrome 1-9*
	background: -webkit-linear-gradient(top, #22589c,  #081652);   /*Safari5.1 Chrome 10+*
	background: -o-linear-gradient(top, #22589c,  #081652);  /*Opera 11.10+*
	height: auto;}*/
.bgjianbian{
	background: -ms-linear-gradient(top, #081652,  #0d2864);
	background:-moz-linear-gradient(top,#081652,#0d2864);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#081652), to(#0d2864));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#081652), to(#0d2864));
	background: -webkit-linear-gradient(top, #081652, #0d2864);
	background: -o-linear-gradient(top, #081652, #0d2864);
	height: auto;}
.center{
	background: -ms-linear-gradient(top, #0d2864,  #215498);
	background:-moz-linear-gradient(top,#0d2864,  #215498);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d2864), to(#215498));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d2864), to(#215498));
	background: -webkit-linear-gradient(top, #0d2864,  #215498);
	background: -o-linear-gradient(top, #0d2864,  #215498);
	height: auto;padding: 0.2rem 0 0;}
.bgjianbian2{
	background: -ms-linear-gradient(top, #215498, #324fa2);
	background:-moz-linear-gradient(top, #215498, #324fa2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#215498), to(#324fa2));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#215498), to(#324fa2));
	background: -webkit-linear-gradient(top, #215498, #324fa2);
	background: -o-linear-gradient(top, #215498, #324fa2);
	height: auto;}
.bgjianbian3{
	background: -ms-linear-gradient(top, #215498, #081652);
	background:-moz-linear-gradient(top, #215498, #081652);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#215498), to(#081652));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#215498), to(#081652));
	background: -webkit-linear-gradient(top, #215498, #081652);
	background: -o-linear-gradient(top, #215498, #081652);
	height: auto;}
.page{background: url(../img/bg2.png) no-repeat center;background-size: 100% auto;padding-top: 2.65rem;position: relative;}
.baoming,.page a:invalid,.page a:active{width: 60%;background:rgba(255,255,255,0.3);position: absolute;left: 20%; top: 1.5rem; height: 0.28rem;color: #fff;
	font-size: 0.15rem;line-height: 0.28rem;text-align: center;border-radius: 5px;text-decoration: none;}
.page ul{position: absolute;list-style: none;text-align: justify;top: 1.9rem;left: 0;width: 100%;}
.page ul li{display: inline-block;width: 32.3%;line-height:20px;border-right: 1px solid #fff;}
.page ul li div{text-align: center;height: 20px;}
.page ul li:last-child{border-right: 0;}
.page img{width: 100%;height: auto;position: absolute;left: 0;bottom: 0;}
.sousuo{width: 60%;background: #fff;margin: 0 auto; border: 1px solid #ffff00;border-radius: 5px;color: #123270;}
.sousuo-kuang{width: 68%;border-right:1px solid #123270;font-size: 0.14rem;padding: 0 4%;height: 20px;line-height: 20px;}
.sousuo-button{width: 28%; font-size: 0.15rem;}
.hd_bg{background: url(../img/bg_02-2.png) no-repeat;background-size: 100% 100%;padding: 0.1rem 0 1.1rem; font-size: 0.13rem;margin-top: -0.11rem;}
.huodongjianjie{height: auto;}
.hd_bg p,.bgjianbian2 p{margin: 0 0 0.1rem;}
.huodongjianjie .jianjie,.hd_bg p em,.bgjianbian2 p em{font-size:0.15rem;font-style:normal;padding-left: 0.1rem;background: #123270;position: relative; height: 30px;
	line-height: 30px;width: 86px;display: block;float: left;color: #fff;}
.xunzhang{border-bottom: 15px solid #123270;border-top: 15px solid #123270;border-right: 6px solid transparent;
	position: absolute;top: 0px; right: -6px;}
.zhengwen{padding: 0 0 0 20px;line-height:0.2rem;font-size:0.13rem;}
.zhengwen .jieshao{text-indent: 2em;width: 96%;}
.zhengwen .jieduan{width: 100%;height: auto;padding-bottom: 0.1rem;}
.zhengwen .jieduan .jibie{width: 24%;float: left;}
.zhengwen .jieduan .neirong{width: 73%;float: left; }
.zhengwen p{text-indent: 2em;}
/*.bmgz{padding: 0.1rem 0.1rem 0 0.9rem; background: url(../img/bg_04.png) no-repeat 0.65rem 0.6rem;
    background-size: 0.16rem;}*/
.bmgz{padding: 0.1rem 0.1rem 0 0.9rem;}
.bmgz p{line-height: 0.16rem;letter-spacing: -1px;border: solid 0.01rem #17b59d;border-radius: 0.05rem;margin-bottom: 0;padding: 0.05rem;line-height: 0.18rem;}
.ui-tab-nav {background: transparent;}
.ui-tab-nav li.current {color: #00a5e0;border-bottom: 2px #00a5e0 solid;}
.paiming{width: 85%;height: 1.602rem;margin: 0 auto 0.1rem;}
.paiming-L,.paiming-R{width: 47%;height:1.602rem;border: 1px solid #fff; border-radius: 5px;position: relative;}
.paiming-L{float: left;}
.paiming-L img,.paiming-R img{width: 100%;height: 80%; border-radius: 5px;}
.paiming-R{float: right;}
.ui-tab-content {margin: 0.2rem 0 0;}
.paiming-footer{position: absolute;left: 0;bottom: 0;width: 100%;background: #0062CC;height: 0.35rem;border-radius: 0 0 5px 5px; 
	padding-left: 5%;}
.paiming-footer-L{width: 63%;float: left;}
.mingcheng,.piaoshu,.piaoshu span{font-size: 0.12rem;height: 0.17rem;line-height: 0.17rem;}
.paiming-footer-R{width: 36%;float: right;font-size: 0.14rem;line-height: 0.35rem;background: #123270;border-radius: 0 0 5px 0;text-align: center;}
.pagination {margin: 20px auto;}
.paiming-hd{width: 40px;height: 20px; background: #fcff01;position: absolute;top: 0; right: 0px;color: #000; text-align: center;
	line-height: 20px;font-size: 0.12rem;border-radius: 0 4px 0 0;}
.paiming-hd-B{border-bottom: 5px solid transparent;border-left: 20px solid #fcff01;border-right: 20px solid #fcff01;
	position: absolute;top: 20px; right: 0px;}
.qianyibai .xxxxx ul{width: 90%; margin: 0 auto; border-bottom: 1px solid #FCFF01;height: 30px;line-height: 30px;}
.qianyibai .xxxxx ul li{display: block;width: 24.5%;text-align: center;float: left;}
.ui-tab-nav li {color: #fff;}
.jxsz{padding: 30px 0 0 6%;margin-top: 20px;}
.jxsz span{display: inline-block;margin: 0 10px 0 0;}
.yuandian{width: 10px;height: 10px;border-radius: 5px;background: #fff;}
.jxsz p{padding: 0 0 0 18%;margin: -10px 0 0;}
.jxsz .fuze{padding: 0 0 0 28%;}
.fenye{margin: 0 auto; text-align: center;}
.erweima img {width: 100%;}
.ui-tab {margin-top: 0.1rem;}
/*.xian{border-right: 1px solid #30c7da;height: 0.1rem;box-sizing: border-box;width: 50%;}*/
.xian{height: 0.14rem;background: url(../img/jiantou2_03.png) no-repeat center;width: 100%;background-size: 12% 100%;margin-top: -1px;}
