html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
a{ text-decoration:none; outline:none; color: #333;-webkit-tap-highlight-color:transparent;}
*{padding: 0; margin: 0; font-size: 0.7rem; font-family: "黑体"; list-style-type: none;  color: #333;
}
 body{background: #f0f0f0; width: 100%; font-family: 黑体;	font-family:Helvetica;padding-top: 30px;}
 input{border: 0; outline: none;}
 .body-limiam{width: 95.8%; padding: 0 2.1%; background: #fff;margin: 0px auto 80px;}
 .body-limiam2{width: 95.8%; margin: 20px auto 0 auto; background: #fff;}
 .touxiang{width: 95.8%; height: 4.25rem; margin: 0.6rem auto 0 auto; border-bottom: #f0f0f0 1px solid;}
 .touxiang-L{float: left; margin-left: 4px; line-height:4.25rem ;}
 .touxiang-R{float: right; width: 3.82rem; height: 3.82rem; border:0;
 margin-top: 0.4rem; position: relative;}
 .touxiang-R-B img{position: absolute;width: 3.4rem;height: 3.4rem; }
 .weui_uploader_input {  position: absolute;  z-index: 1;  top: 0;  left: 0;opacity: 0; 
  width: 100%;  height: 100%;   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
 .haoma{width: 95.8%; height: 2.1rem; margin: 0 auto 0 auto; border-bottom: #f0f0f0 1px solid;}
 .haoma-L{float: left; margin-top: 0.9rem; margin-left: 4px; font-family: arial;}
 .haoma-R{float: right; height: 0.9rem; margin-top: 0.8rem;  text-align: right;
   margin-right: -10px;}
 .shoujihao{width: 95.8%; height: 2.1rem; margin: 0 auto 0 auto; border-bottom: #f0f0f0 1px solid;}
 .shoujihao-L{float: left; margin-top: 0.9rem; margin-left: 4px;}
 .shoujihao-R-chengshi2 input{float: right; height: 1.5rem; line-height: 1.5rem;
   margin-top: 0.6rem; text-align: right; margin-right: 4px; width: 60%;}
 .shoujihao-R-chengshi {float: right; height: 1.5rem; line-height: 1.5rem;
   margin-top: 0.6rem; text-align: right; margin-right: 4px; width: 50%;}
 .shoujihao-R-chengshi img{width: 1rem;}
 .shoujihao-R input{float: right; height: 1.5rem; line-height: 1.5rem;
   margin-top: 0.6rem; text-align: right; margin-right: 4px; -webkit-appearance: none;border: 0;  outline: 0;}
 .shoujihao-R3 {float: right; height: 1.5rem; line-height: 1.5rem;
   margin-top: 0.6rem; text-align: right; margin-right: 4px;}
 .shoujihao-R select{float: right; height: 1.5rem; line-height: 1.5rem;border: 0;  outline: 0;direction:rtl;
   margin-top: 0.6rem; text-align: right; margin-right: 4px; -webkit-appearance: none; background: #FFF;}
 .shoujihao:last-child{border-bottom:0;} 
 .weui_input{text-align: right;width: 30%; background: #fff;}
 
 ul, ol, dl { list-style: none; }
 ._citys { width: 350px; display: inline-block; position: relative;margin: 0 4%;
 	text-align: center;}
 ._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center;
 	 border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8;
 	 cursor: pointer; }
 ._citys0 {background: #333333;}
 ._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 60px;
 	 text-align: center; cursor: pointer; }
 .citySel { background-color: #56b4f8; color: #fff !important; }
 ._citys1 {background: #333333; padding: 10px 0; }
 ._citys1 a { width: 60px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666;
 	 margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer;
 	  font-size: 13px; overflow: hidden; }
#tankuang{display: none;}
 .zhezhao{width: 100%; height: 100%; background: #000;
 	 position: fixed; z-index: 101; top:0; opacity: 0.3;}
.xingbie{width: 80%; height:5rem; margin: -17rem auto;left: 10%;background: #fff;
 border-radius: 5px; position: absolute;z-index: 102; padding-bottom: 0.5rem;}
 .xingbie-T{ margin: 0.6rem 0 0.3rem 5%; margin-left: ; font-weight: bold;}
 .xingbie-B {width: 100%; height: 1.5rem; line-height: 1.5rem;
 margin-right: 4px;}
 .ta-3-C,.ta-3-R{width: 100%; margin: 0.5rem;line-height: 1rem;}
 .ta-3-C input,.ta-3-R input{float: right; margin: 0 8%;}
 .ta-3-C span,.ta-3-R span{margin: 0 3%;}
.ui-footer-btn{background: #f2f2f2;text-align: center;color: #b1dae0;font-weight: 500;}
.ui-btn-wrap{padding: 0;margin: 8px auto;height: 40px;width: 94%;border: 1px solid #B1DAE0;
    border-radius: 5px;}
.ui-btn, .ui-btn-lg, .ui-btn-s {
    width: 100%;
    height: 40px;
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fff),to(#fafafa));
    vertical-align: top;
    color: #B1DAE0;
    -webkit-box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
   }
.ui-arrowlink {padding-right: 30px;}
.ui-arrowlink:before{color: #5FC2C9;}